name: 'GitHub Actions Weather Bot'

on:
  push:
  schedule:
    - cron: '36 22 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v1
      - name: 'Get Weather'
        run: bash ./weather.sh
      - name: 'Get Date'
        run: echo "REPORT_DATE=$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')" >> $GITHUB_ENV
      - name: 'Send mail'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.ym.163.com
          server_port: 994
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: 上海天气 [${{env.REPORT_DATE}}]
          html_body: file://result.html
          attachments: Shanghai_0qp.png
          to: ${{ secrets.MAIL_ADDR }}
          bcc: ${{ secrets.MAIL_BCC_ME }},${{ secrets.MAIL_BCC_LJQ }},${{ secrets.MAIL_BCC_WQH }},${{ secrets.MAIL_BCC_YHB }}
          from: Weather Bot
          content_type: text/html
          secure: true
